@model dynamic

@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

<form class="form-signin">   
<h2 class="form-signin-heading">Please sign in</h2>
        <input id="account" name="account" type="text" class="input-block-level" placeholder="Email address">
        <input id="password" name="password" type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
    <button class="btn btn-large btn-primary" type="submit">@Html.ActionLink("LogIn", "Starter", null, new { @style = "color:#ffffff;" })</button>
</form>