@*@Html.Hidden("UId", Session["NowUid"])*@
<table>
    <tr>
        <td>
            <div class="span3">
                <div class="well row">
                    <div style="float: left; width: 40%;">
                        <p>個人喜好資訊：</p>
                    </div>
                    <div style="float: right; width: 60%;">
                        <ul class="nav nav-list">
                            @foreach (EasyTravelInTaiwan.Models.viewtype types in ViewBag.Favorites)
                            {
                                <li>
                                    <a href="#">@types.Typename</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @if (ViewBag.TravelListCount > 0)
            {
                <div class="span3">
                    <div class="well row">
                        <div style="float: left; width: 40%;">
                            <p>規劃清單：</p>
                        </div>
                        <div style="float: right; width: 60%;">
                            <ul class="nav nav-list">
                                @foreach (EasyTravelInTaiwan.Models.travellist travellist in ViewBag.TravelList)
                                {
                                    <li>
                                        <a href="@Url.Action("Direction", "Map", new { tid = travellist.Tid })" target="_blank">@travellist.TName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </td>
    </tr>
</table>
