@using BootstrapSupport

@{
    ViewBag.Title = "搜尋結果 - " + @ViewBag.keyWord + " - Easy Travel In Taiwan";
}

<div id="SearchTextbox">
    @Html.Action("SearchDropdownList", "Search")
</div>
<div id="SearchResult">
    @Html.Action("SearchResultPartial", "Search", new { searchType = ViewBag.key, searchWord = ViewBag.keyWord})
</div>
