@model EasyTravelInTaiwan.Models.ForgetPassword

@{
    ViewBag.Title = "查詢密碼";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}
<h3>忘記密碼</h3>
@using (Html.BeginForm("ForgetPassword", "Member", FormMethod.Post))
{
<form class="form-signin">
   @Html.Label("請輸入電子郵件信箱")
   @Html.TextBox("user_email_address")
   @Html.ValidationSummary(true) 
<input type="submit" value="送交" class="btn btn-success"/>
</form>
}
<p>@Html.ActionLink("回首頁", "Index", "Home", null, new { @class = "btn btn-primary" })</p>
