@{
    ViewBag.Title = "查無資料 - Easy Travel In Taiwan";
}

<div class="row well">
    <div style="text-align: center">
        <h2>查無資料</h2>
        <br />
        @Html.ActionLink("按我回首頁", "Index", "Index")
    </div>
</div>
