<style>
    /*#HistoryInner {
        height: auto;
    }
    #HistoryInner ul {
            width: 97%;
        }*/
    /*#HistoryWrapper .box {
        height: auto;
    }*/
    /*#HistoryInner {
        overflow-y: scroll;
        overflow-x: hidden;
    }*/
</style>

@if (Model != null)
{
    //style="max-height: 480px"
    <div id="HistoryInner" class="well" style="max-height: 480px;">
        <ul id="HistoryWrapper" class="nav nav-pills nav-stacked">
            @foreach (EasyTravelInTaiwan.Models.History history in Model)
            {
                <li id="place.@history.gId">
                    <a href="#">@history.title</a>
                </li>
            }
        </ul>
    </div>
}

<script type="text/javascript">
    //$(document).ajaxStart($.blockUI({ message: "請稍後... " }));
    //$(document).ajaxStop($.unblockUI);

    //$(document).ready(function () {
    //    $("#HistoryInner").niceScroll({ autohidemode: true });
    //});

    //$("#HistoryInner").niceScroll({ autohidemode: true });

//$("#HistoryWrapper").getNiceScroll().resize();
    //$(document).ready(function () {
    //    $("#HistoryInner").niceScroll({ autohidemode: true });
    //});

    
    //$('#HistoryWrapper li').click(function () {
    //    var str = $(this).attr('id');
    //    var n = str.split(".");
    //    var id;
    //    for (var i = 0; i < gmarkers.length; i++) {
    //        if (gmarkers[i].gId == n[1]) {
    //            id = i;
    //        }
    //    }
    //    SetGmarkerVisible(id);
    //    //google.maps.event.trigger(gmarkers[id], "click");
    //    //gmarkers[id].setVisible(true);
    //});

    $(document).ready(function () {
        $("#HistoryInner").niceScroll({ autohidemode: true });

        $('#HistoryWrapper li').click(function () {
            var str = $(this).attr('id');
            var n = str.split(".");
            var id;
            for (var i = 0; i < gmarkers.length; i++) {
                if (gmarkers[i].gId == n[1]) {
                    id = i;
                }
            }
            SetGmarkerVisible(id);
            //google.maps.event.trigger(gmarkers[id], "click");
            //gmarkers[id].setVisible(true);
        });

    });

</script>
