@model List<EasyTravelInTaiwan.Models.view>
<style>
    /*#otherWrapper .box {
        height: auto;
    }*/
</style>
<div id="otherSuggestPlace" class="well" style="max-height: 175px;">
    <ul id="otherWrapper" class="nav nav-pills nav-stacked">
        @foreach (EasyTravelInTaiwan.Models.view place in Model)
        {
            <li id="place.@place.Id"><a href="#">@place.Name</a></li>
        }
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#otherSuggestPlace").niceScroll({ autohidemode: true });
    });
    
    $('#otherWrapper li').click(function () {
        var str = $(this).attr('id');
        var n = str.split(".");
        var id;
        for (var i = 0; i < gmarkers.length; i++) {
            if (gmarkers[i].gId == n[1]) {
                id = i;
                console.log(id);
            }
        }
        SetGmarkerVisible(id);
        //google.maps.event.trigger(gmarkers[id], "click");
        //gmarkers[id].setVisible(true);
    });
</script>
