@model List<EasyTravelInTaiwan.Models.view>
<ul class="nav nav-pills nav-stacked" id="otherWrapper">
    @foreach (EasyTravelInTaiwan.Models.view place in Model)
    {
        <li id="place.@place.Id"><a href="#">@place.Name</a></li>
    }
</ul>
<script type="text/javascript">
    $('#otherWrapper li').click(function () {
        var str = $(this).attr('id');
        var n = str.split(".");
        var id;
        for (var i = 0; i < gmarkers.length; i++) {
            if (gmarkers[i].gId == n[1]) {
                id = i;
                console.log(id);
            }
        }
        SetGmarkerVisible(id);
        //google.maps.event.trigger(gmarkers[id], "click");
        //gmarkers[id].setVisible(true);
    });
</script>
