@model EasyTravelInTaiwan.Models.SearchViewModel

<style type="text/css">
    .dropList {
        width: 137px;
    }

    .botton {
        width: 88px;
    }

    .position {
        padding: 0px 0px 0px 0px;
    }
</style>

@using (Html.BeginForm("SearchResult", "Search"))
{
    <div class="row-fluid">
        <div class="form-inline">
            @Html.TextBoxFor(model => model.searchWord, new { @class = "span7", @id = "search-text", @data = "typeahead", @placeholder = "輸入關鍵字", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.searchWord)
            @Html.DropDownListFor(model => model.searchType,
            new SelectList(new List<Object>{ 
                       new { value = 0 , text = "全部"  },
                       new { value = 1 , text = "美食" },
                       new { value = 2 , text = "景點"},
                       new { value = 3 , text = "旅館"}
                    }, "value", "text", 0), new { @class = "selectpicker" })
            @Html.ValidationMessageFor(model => model.searchType)
            <button class="btn btn-primary botton">搜尋</button>
        </div>
    </div>
}