@model EasyTravelInTaiwan.Models.SearchViewModel

<style>
    .dropList {
        width: 137px;
    }

    .botton {
        width: 88px;
    }
    .position {
        padding:0px 0px 0px 70px;
    }

</style>

@using (Html.BeginForm("SearchResult", "Search"))
{
    <div class="row-fluid">
        <div class="span7 position">
            @Html.TextBoxFor(model => model.searchWord, new { @class = "span7", @id = "Search", @data = "typeahead", @placeholder = "輸入關鍵字", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.searchWord)
            @Html.DropDownListFor(model => model.searchType,
            new SelectList(new List<Object>{ 
                       new { value = 0 , text = "All Product"  },
                       new { value = 1 , text = "Title" },
                       new { value = 2 , text = "Author"},
                       new { value = 3 , text = "Publisher"}
                    }, "value", "text", 0), new { @class = "dropList" })
            @Html.ValidationMessageFor(model => model.searchType)
            <button class="btn btn-primary pull-right botton">搜尋</button>
        </div>
    </div>
}