
<button class="btn btn-primary" type="button" onclick="FacbookLogin()">
    <img alt="140x140" src="~/Content/images/FB-logo.png" width="20" height="20" />
    @Html.ActionLink("Login", "FacebookLogin", "Member")
</button>