<div class="form-inline well">
    <select id="HistorylListSelectPicker" class="selectpicker">

        @if (ViewBag.ListCount > 0)
        {
            for (var i = 0; i < ViewBag.ListCount; i++)
            {
            <option value="List-@ViewBag.SelectList[i].SId">@ViewBag.ListName[i]</option>
            }
        }
    </select>
    <button id="SaveSortedPlaceBtn" class="btn btn-success" aria-hidden="true">儲存順序</button>
</div>

<script type="text/javascript">
    $("#SaveSortedPlaceBtn").click(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("PostDirectionHistory", "Map")",
            data: JSON.stringify({ tid: $waypointId, sortedList: SortedNumber }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                if (data.Status == "1") {
                    $.growlUI(data.Messages);
                }
                else {
                    $("#SortHistory").html(data);
                    $("#HistorylListSelectPicker option").last().attr("selected", "selected");
                    $('#HistorylListSelectPicker').selectpicker('refresh');
                    $.growlUI('路徑已儲存 !');
                }
            }
        });
    });
</script>
