綜合評價
<p>
    @if (ViewBag.RateSum != -1)
    {
        @ViewBag.RateSum;
    }
    else
    {
        @Html.DisplayName("尚無評分");
    }
</p>

你的評分
<p>
    @if (ViewBag.userRate != -1)
    {
        @ViewBag.userRate;
    }
    else
    {
        @Html.DisplayName("尚無評分");
    }
</p>
