<link href="~/Content/jquery.rating.css" rel="stylesheet" />
<script src="~/scripts/jquery.rating.js"></script>
<script src="~/scripts/jquery.rating.pack.js"></script>
<script src="~/scripts/jquery.form.js"></script>

綜合評價
<p>
    @if (ViewBag.RateSum != -1)
    {
        @ViewBag.RateSum;
    }
    else
    {
        @Html.DisplayName("尚無評分");
    }
</p>

你的評分
<p>
    @if (ViewBag.userRate != -1)
    {
        @ViewBag.userRate;
    }
    else
    {
        @Html.DisplayName("尚無評分");
    }
</p>

<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="1" title="Very Bad" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="2" title="Bad" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="3" title="OK" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="4" title="Good" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="5" title="Very Good" />
@*<input type="button" value="Submit &raquo;" onClick="$(this).next().html($(this.form).serialize() || '(nothing submitted)');"/>*@


<br />
<br />
@*<span id="hover-test" style="margin:0 0 0 20px;">Hover tips will appear in here</span>*@

<script type="text/javascript">

    $('.auto-submit-star').rating({
        callback: function (value, link) {
            // 'this' is the hidden form element holding the current value
            // 'value' is the value selected
            // 'element' points to the link element that received the click.
            alert("The value selected was '" + value + "'\n\nWith this callback function I can automatically submit the form with this code:\nthis.form.submit();");

            // To submit the form automatically:
            //this.form.submit();

            // To submit the form via ajax:
            //$(this.form).ajaxSubmit();
        }
    });

</script>
