<link href="~/Content/jquery.rating.css" rel="stylesheet" />
<script src="~/scripts/jquery.rating.js"></script>

綜合評價
<p>
    @if (ViewBag.RateAverage != -1)
    {
        @ViewBag.RateAverage;
    }
    else
    {
        @Html.DisplayName("尚無評分");
    }
</p>

你的評分
<p>
    <input id="UserRate" name="Pt" type="hidden" value="@ViewBag.UserRate">
</p>

<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="1" title="Very Bad" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="2" title="Bad" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="3" title="OK" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="4" title="Good" />
<input name="star1" type="radio" class="auto-submit-star star {half:true}" value="5" title="Very Good" />


<br />
<br />

<script type="text/javascript">

    $(document).ready(function () {
        var $rate = $('#UserRate').val();
        $('input[type=radio]').rating('select', $rate);
    });

    $('.auto-submit-star').rating({
        callback: function (value, link) {
            var $pt = $("#Pt").attr("value");
            var $sno = $("#Sno").attr("value");
            $.ajax({
                type: "POST",
                url: "@Url.Action("PostRating")",
                data: JSON.stringify({ rate: value, pt: $pt, sno: $sno }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log("Done");
                    if (data.Status != 2) {
                        $("#AverageRatingPartial").html(data);
                    }
                    else {
                        alert(data.Message);
                        window.location.replace("/Member/Login?ReturnUrl=%2fMap%2fViewPointDetails%2f" + data.Sno);
                    }
                }
            });
        }
    });
</script>
