@model IEnumerable<EasyTravelInTaiwan.Models.ViewImage>

<link href="~/Content/bootstrap.lightbox.css" rel="stylesheet" />
<script src="~/scripts/bootstrap.lightbox.js"></script>

<style>
    .thumbnail img {
        width: 150px;
        height: 150px;
    }
</style>

<div>

    @if (Model.Count() > 0 )
    {
        <ul class="thumbnails" data-toggle="lightbox">
            @foreach (var image in Model)
            {
                <li class="span3">
                    <a href="@Url.Action("RenderBookImage", new { id = image.sid })" title="@image.Name" class="thumbnail">
                        <img src="@Url.Action("RenderBookImage", new { id = image.sid })" width="150" height="150" alt=""/>
                    </a>
                </li>
            }
        </ul>
    }
    else 
    { 
        <h2>尚無任何相關圖片</h2>
    }

</div>
