<style>
    #Suggestbox {
        height: 400px;
    }

        #Suggestbox ul {
            width: 97%;
        }
</style>
<div id="Suggestbox" class="box">
    <h4>我所喜歡的</h4>
    @Html.Action("MyFavorPartial", "Map")
    <h4>他人推薦的</h4>
    @Html.Action("OthersSuggestPlacePartial", "Map")
</div>
