@model List<EasyTravelInTaiwan.Models.travellist>

<div>

    <table>
        <tr>我的旅遊清單</tr>
        <tr>
            @if (Model.Count() > 0)
            {
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var travellist in Model)
                    {
                        <li class="span3">
                            @*<a href="@Url.Action("RenderBookImage", new { id = image.sid })" title="@image.Name" class="thumbnail">
                        <img src="@Url.Action("RenderBookImage", new { id = image.sid })" width="150" height="150" alt=""/>
                    </a>*@
                            <a href="#">@travellist.TName</a>
                        </li>
                    }
                </ul>
            }
            else
            { 
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">尚無旅遊清單</a></li>
                </ul>
            }

        </tr>
    </table>
</div>
