@model List<EasyTravelInTaiwan.Models.travellistplace>

@*@Html.Partial("_alerts")*@

@if (TempData["SaveSuccess"] != null)
{
    <div id="SaveAlert" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>@TempData["SaveSuccess"]</strong>
    </div>
}

<div>詳細位置</div>
<div>
    <ul class="nav nav-pills nav-stacked" id="InputsWrapper">
        @foreach (EasyTravelInTaiwan.Models.maplatlng maplatlng in ViewBag.TravelListPlaces)
        {
            <li id="place.@maplatlng.sno">
                <a href="#">@maplatlng.pName<i class="icon-remove pull-right" id="placeRemove"></i></a>
            </li>
        }
    </ul>

</div>
<div>
    <button id="Save-List-Button" class="btn">儲存</button>
</div>


<script type="text/javascript">
    var selectedList;
    $(document).on('click', '#InputsWrapper li', function (e) {
        //if (e.button == 1) {
        var str = $(this).attr('id');
        var n = str.split(".");
        //console.log(n[1]);
        //console.log(e);
        var id;
        for (var i = 0; i < gmarkers.length; i++) {
            if (gmarkers[i].gId == n[1]) {
                id = i;
                console.log(id);
            }
        }
        google.maps.event.trigger(gmarkers[id], "click");
        gmarkers[id].setVisible(true);
        //}
        //else if (e.button == 2) {
        //    var str = $(this).attr('id');
        //    var n = str.split("-");
        //    console.log(e.button);
        //}
    });
    //window.setTimeout(function () { $(".alert").alert('close'); }, 5000);

    $(document).on('click', '#InputsWrapper li .icon-remove', function (e) {
        var place = $(this).parent().parent().attr('id');

        $.ajax({
            type: "POST",
            url: "@Url.Action("DeletePlace")",
            data: JSON.stringify({ deletePlaceId: place }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#TravelListPlacePartialView").html(data);
            },
        });
    });
    
    $("#Save-List-Button").click(function () {
        var placeItems = [];
        $("#InputsWrapper").children().each(function () {
            var $this = $(this);
            var str = $(this).attr('id');
            var n = str.split(".");
            var id;
            for (var i = 0; i < gmarkers.length; i++) {
                if (gmarkers[i].gId == n[1]) {
                    id = i;
                    console.log(id);
                }
            }
            var item = { Tid: selectedList, sno: gmarkers[id].gId };
            placeItems.push(item);
            //console.log(gmarkers[id]);
            //console.log(JSON.stringify(placeItems));
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("PostPlace")",
            data: JSON.stringify(placeItems),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                $("#TravelListPlacePartialView").html(data);
                window.setTimeout(function () { $("#SaveAlert").fadeOut(); }, 10000);
            },
        });
    });

    
</script>
