@model List<EasyTravelInTaiwan.Models.travellistplace>

<div>

    <table>
        <tr>詳細位置</tr>
        <tr>
            @if (Model.Count() > 0)
            {
                <ul class="nav nav-pills nav-stacked" id="InputsWrapper">
                    @foreach (var travellistplace in Model)
                    {
                        <li class="span3">
                            @*<a href="@Url.Action("RenderBookImage", new { id = image.sid })" title="@image.Name" class="thumbnail">
                        <img src="@Url.Action("RenderBookImage", new { id = image.sid })" width="150" height="150" alt=""/>
                    </a>*@
                            <a href="#">@travellistplace.Sno</a>
                        </li>
                    }
                </ul>
            }
            else
            { 
                <ul class="nav nav-pills nav-stacked" id="InputsWrapper">
                </ul>
            }

        </tr>
        <tr>
            <td>
                <button id="Create-List-Button" class="btn">儲存</button>
            </td>
        </tr>
    </table>
</div>
