@{
    ViewBag.Title = "旅遊規劃 - Easy Travel In Taiwan";
}

<link href="~/Content/units/map.css" rel="stylesheet" />
<link href="~/Content/ui.css" rel="stylesheet" />
<link href="~/Content/ui.progress-bar.css" rel="stylesheet" />
<link href="~/Content/bootstrap-select.css" rel="stylesheet" />

<!--引入 Google API-->
@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
@*<script src="https://maps.googleapis.com/maps/api/js?v=3.9&sensor=false"></script>*@
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>*@
@*<script src="~/scripts/jquery.validate.unobtrusive.js"></script>*@
@*<script type="text/javascript" src="~/scripts/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.ui.progressbar.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.blockUI.js"></script>

    <script type="text/javascript" src="~/scripts/GoogleMapRightClick.js"></script>
    <script type="text/javascript" src="~/scripts/ContextMenu.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.geocomplete.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.ajax-progress.js"></script>
    <script type="text/javascript" src="~/scripts/progress.js"></script>
    <script type="text/javascript" src="~/scripts/googleIcons.js"></script>*@
<form class="form-inline">
    <input id="inputGeo" type="text" placeholder="輸入地區、地址" maxlength="100" autocomplete="off" />
    <input autocomplete="off" class="span7" data="typeahead" id="searchView-text" name="searchWord" placeholder="輸入店家、景點、旅館名稱" type="text" value="">
    <div id="placeFilter" class="btn-group filterClass" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-primary " value="07">食物</button>
        <button type="button" class="btn btn-primary " value="06">旅館</button>
        <button type="button" class="btn btn-primary " value="10">風景</button>
    </div>
</form>

<div class="row" style="height: auto;">
    <div id="map_canvas" class="map_canvas span8"></div>
    <div class="span4" style="float: right; position: relative">
        <ul id="MapTabs" class="nav nav-tabs">
            <li class="active"><a href="#TravelTab" data-toggle="tab">旅遊清單</a></li>
            <li><a href="#SuggestTab" data-toggle="tab">推薦清單</a></li>
            <li id="History"><a href="#HistoryTab" data-toggle="tab">歷史紀錄</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="TravelTab">
                <div id="TravelListPartialView">
                    @*@Html.Action("TravelListPartial", "Map")*@
                </div>
                <br />
                <div id="TravelListPlacePartialView">
                    @*@Html.Action("TravelListPlacePartial", "Map")*@
                </div>
            </div>
            <div class="tab-pane" id="SuggestTab">
                @*@Html.Action("SuggestPlacePartial", "Map")*@
            </div>
            <div class="tab-pane" id="HistoryTab">
                @*@Html.Action("HistoryPartial", "Map")*@
            </div>
        </div>

    </div>
</div>
<br />
@*<form id="status">
        Latitude:
        <input name="lat" type="text" value="">
        Longitude:
        <input name="lng" type="text" value="">
        Address:
        <input name="formatted_address" type="text" value="">
    </form>*@
<div id="info"></div>

@section Scripts{
    <!--引入 Google API-->
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.9&sensor=false"></script>*@
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    @*<script src="~/scripts/jquery.validate.unobtrusive.js"></script>*@
    <script type="text/javascript" src="~/scripts/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.ui.progressbar.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.blockUI.js"></script>

    <script type="text/javascript" src="~/scripts/GoogleMapRightClick.js"></script>
    <script type="text/javascript" src="~/scripts/ContextMenu.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.geocomplete.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.ajax-progress.js"></script>
    <script type="text/javascript" src="~/scripts/progress.js"></script>
    <script type="text/javascript" src="~/scripts/googleIcons.js"></script>

    <script type="text/javascript" src="~/scripts/units/map-main.js"></script>
}

